:root {
  --data-mainBackgroundColor: #333;
  --data-secondaryBackgroundColor: #ddd;
  --data-newsHeaderBackgroundColor: #999;
  --data-mainTextColor: #ddd;
  --data-secondaryTextColor: #000;
  /* 
  --data-mainBackgroundColor
  --data-secondaryBackgroundColor
  --data-newsHeaderBackgroundColor
  --data-mainTextColor
  --data-secondaryTextColor
   */
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--data-mainBackgroundColor);
  color: var(--data-mainTextColor);
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: var(--data-mainBackgroundColor);
  /* nwm czy tu ma być po zmiennej */
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

/* here ends default css */



.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loginForm {
  display: flex;
  width: 80%;
  max-width: 350px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid black;
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
}

input[type=submit] {
  background-color: #555;
  color: var(--data-mainTextColor);
}

#smallHeader {
  display: none;
}

#hamburgerIcon {
  height: 30px;
  width: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  color: var(--data-mainTextColor);
  background: none;
  backdrop-filter: brightness(0.8);
  text-align: center;
}

nav div {
  width: 50%;
}

#headerIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#headerContent,
#footerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

#footerContent {
  flex-wrap: wrap;
}

#footerContent p {
  margin: 5px;
}

footer {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

#loginPageBtns {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.secondaryBtn,
.secondaryBtn:visited {
  color: #888;
  text-decoration: underline;
}

.secondaryBtn:hover {
  color: #777;
}

#loginPageBtns .aAsButton {
  width: 50%;
}

#headerContent p {
  margin: 0 10px;
}

#loginBtns {
  text-align: right;
}

header button,
header a,
header a:visited {
  border: 1px solid var(--mainBtnColor);
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
  background: none;
  margin: 0;
  color: var(--mainBtnColor);
  transition: 0.2s all;
}

header button:hover,
header a:hover {
  box-shadow: 0 0 10px var(--mainBtnColor);
  text-decoration: none;
}

#loginBtn {
  --mainBtnColor: #0b0;
}

#registerBtn {
  --mainBtnColor: #00f;
}

#logOutBtn {
  --mainBtnColor: red;

}

#editPageBtn {
  --mainBtnColor: rgb(72, 187, 207);
}

.aAsButton {
  background: none;
  color: var(--data-mainTextColor);
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid var(--data-mainTextColor);
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
}

.aAsButton:hover {
  color: #bbb;
  border-color: #bbb;
}

.aAsButton:visited {
  color: var(--data-mainTextColor);
}

/* slider */
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.visibleSlide {
  display: block;
  animation-name: fade;
  animation-duration: 1s;
}

.mySlides img {
  width: 100%;
  height: 100%;
  max-height: 500px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: none;
  background-color: rgba(100, 100, 100, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.sliderContent {
  position: absolute;
  width: 100%;
  bottom: 35px;
}

.text,
.subtext {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 20px;
  padding: 8px 12px;
  /*position: absolute;
  bottom: 32px;*/
  width: 100%;
  text-align: center;
}

.subtext {
  font-size: 15px;
  bottom: 30px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
#dotsContainer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  transform: translateX(-100%);
  animation-name: fadeOut;
  animation-duration: 1s;
}

/*
@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
*/

@keyframes fade {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* end of slider */

/* news */

#news-container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.newsBox {
  width: 30%;
  min-width: 250px;
  background-color: var(--data-secondaryBackgroundColor);
  padding: 0;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: var(--data-secondaryTextColor);
  overflow: hidden;
}

.newsContent {
  padding: 10px;
}

.newsContent h4 {
  margin: 0;
}

.newsContent button {
  background-color: var(--data-mainBackgroundColor);
  color: var(--data-mainTextColor);
  border-radius: 5px;
  transition: 0.5s all;
  cursor: pointer;
}

.newsContent button:hover {
  background-color: #666;
}

.newsHeader {
  background-color: var(--data-newsHeaderBackgroundColor);
  padding: 5px 10px;
  font-weight: 500;
}

/* content cards */

#contentCards-container {
  width: 80%;
  margin-left: 10%;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card h4,
.card h5 {
  display: inline;
}

.card h4 {
  font-size: 200%;
  margin-right: 10px;
}

.card h5 {
  font-size: 130%;
  color: #888;
}

.cardImg {
  max-width: 500px;
  min-width: 300px;
  max-height: 500px;
  width: 50%;
  height: 50%;
}

.cardContent {
  width: 50%;
  min-width: 300px;
  padding: 10px;
}

.cardContent p {
  word-wrap: break-word;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;

}

.flexDirCol {
  flex-direction: column;
}

hr {
  border-color: var(--data-mainTextColor);
}

/* editpage */
#editNav {
  height: 50px;
  padding: 0;
}

#editNav>div {
  height: 100%;
  user-select: none;
}

#editNav>div:hover {
  background-color: #aaa;
  transition: 0.5s;
}

.selectedPage {
  background-color: #aaa;
}

#editMain {
  width: 100%;
  min-height: calc(100% - 50px);
  flex-direction: column;
}

pre {
  max-width: 60%;
  background-color: #ccc;
  color: black;
  padding: 20px;
  border: 3px solid black;
  white-space: pre-wrap;
  word-wrap: break-word;
  align-self: center;
}

.editPageButton {
  background-color: #aaa;
  color: black;
  padding: 20px;
  border-radius: 2px;
}

.editPageForm {

  background-color: #555;
  color: white;
  padding: 20px;
  border-radius: 2px;
}

.flexSpaceBetween {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flexSpaceBetween input {
  margin: 0;
  margin-left: 5px;
}

.editForms {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.editPageSaveButton,
.editPageDeleteButton {
  background-color: #aaa;
  color: black;
  padding: 5px;
  border-radius: 2px;
}

.editPageDeleteButton {
  background-color: rgb(209, 49, 49);
  color: white;
}

input[type="color"] {

  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 40px;
  border: 2px solid #aaa;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  margin-left: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

#errorMessage {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgb(219, 97, 97);
  border: 1px solid rgb(201, 0, 0);
  color: rgb(201, 0, 0);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
}

#closeErrorMessageButton,
#closeHamburgerMenuButton {
  position: absolute;
  top: -5px;
  right: -3px;
  z-index: 10;
  background: none;
  border: none;
  color: rgb(201, 0, 0);
  cursor: pointer;
}

#closeHamburgerMenuButton {
  color: var(--data-mainTextColor);
  top: 0;
}